::selection {
    background-color: $black;
    color: $white;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
}

input,
input:focus,
textarea {
    all: unset;
    border: none;
    outline: none;
    resize: none;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: $white;
    color: $black;
    overflow-x: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}